*{
    padding: 0;
    margin: 0;
}

body{
    background-image: url(./img/illustration-4774153_960_720\ .jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}

.amarillo{
    background-color: yellow;
}

.naranja{
    background-color: orange;
}

.rojo{
    background-color: red;
    color: white;
}

.verde{
    background-color: green;
}

.ready{
    padding: 0.3em;
    font-size: 0.7em;
}

.no{
    padding: 0.3em;
    font-size: 0.7em;
}

.primerCuadro{
    display: flex;
    justify-content: center;
}

.primerCuadro .primerSeleccion{
    border: 2px solid black;
    padding: 3em;
    margin-top: 3em;
}

label input{
    border-radius: 4px;
    border: 2px solid black;
}

.primerCuadro label{
    display: flex;
    justify-content: center;
    margin-top: 0.5em;
}

.primerCuadro .botones{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-top: 1em;
}

.botones .btn{
    padding: 0.5em;
    width: 5em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 4px black;
}


.segundoCuadro{
    display: flex;
    justify-content: center;
}

.segundoCuadro .segundaSeccion{
    border: 2px solid black;
    padding: 2em;
    margin-top: 3em;
}

.segundaSeccion .titulos{
    padding: 2em;
}

.segundaSeccion h2{
    text-decoration: underline
}

.segundaSeccion .textos{
    display: flex;
    border: 2px solid black;
}

.mensaje{
    text-align: center;
    flex-direction: column;
}

.textos .textoHijo{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 0.5em;
}

.tercerCuadro{
    display: flex;
    justify-content: center;

}

.tercerCuadro .terceraSeccion{
    border: 2px solid black;
    margin-top: 3em;
    background-color: green;
    padding: 2em;
}

.tercerCuadro .tareasFinalizadas{
    padding: 0.5em;
}
